<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            body{background-image: url('https://i.ytimg.com/vi/H3iFrU1gPLM/maxresdefault.jpg');}
        }
        h2{
            border: 0px solid rgb(43, 8, 88);
            color: #d8ca05;
            background-color: rgb(255, 6, 6);
        }
        h1{
            border: 3px solid rgb(139, 209, 74);
            color: #1b8375;
            background-color: palevioletred;
        }
    </style>
</head>
<body>
    
    <a href="/duck/"><h1>Гуси</h1></a>
    <a href="/fox/"><h1>Лисы</h1></a>
    <a href="/weather-minsk/"><h1>Погода в Минске</h1></a>
    <a href="/weather/<city>/"><h1>Погода в городе NN</h1></a>
    <a href="/regest/"><h2>Регистрация</h2></a>
    <a href="/vhod/"><h2>Вход</h2></a>
</body>
</html>