<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ввойдите в свой аккаунт</h2>
    <form action="" method="POST">
        <label for="4275">Паспорт</label>
        <input type="password" name = "password" id="4275">

        <br>
        <label for="login">Логин</label>
        <input type="text" name="login" id="login" value="{{login}}">
        <input type="submit">
        <br>
    </form>
</body>
</html>